


<div class="container">
  <div class="row">
    <div class="col-md-15 mt-4" style="margin-left:-65px">
      <h1 class="text-center">Food Products</h1>
      <app-product-detail [products]="products"></app-product-detail>
      <!-- <app-upload-file></app-upload-file> -->




        <!-- <form *ngIf="editUserForm">
          <h2>Edit Requerimiento</h2>
          <p>Id Requerimiento: <input type="text" name="Id Requerimiento" [(ngModel)]="editedUser.idRequerimiento" /></p>
          <p>Nombres: <input type="text" name="Nombres" [(ngModel)]="editedUser.nombres" /></p>
          <p>Area: <input type="text" name="Area" [(ngModel)]="editedUser.area" /></p>
          <p>Nombre Solicitud: <input type="text" name="Nombre Solicitud" [(ngModel)]="editedUser.nombreSolicitud" /></p>
          <p>Descripcion Solicitud: <input type="text" name="Descripcion Solicitud" [(ngModel)]="editedUser.descripcionSolicitud" /></p>
          <p>Anexo: <input type="text" name="Nombre Solicitud" [(ngModel)]="editedUser.nombreSolicitud" /></p>    
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateRequerimiento()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </p>
        </form> -->
      </div>
    </div>
</div>




<!--
        <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">

--> 
        <!--        <button class="btn btn-success" (click)="showAddUserForm()">Add New User</button>  -->
<!--
      <div class="mt-4">
        <form *ngIf="userForm">
          <h2>Add New User</h2>
          <p>First Name: <input type="text" name="firstName" [(ngModel)]="newUser.firstName" /></p>
          <p>Last Name: <input type="text" name="lastName" [(ngModel)]="newUser.lastName" /></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="saveUser(newUser)">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelNewUser()">Cancel</button>
          </p>
        </form>
-->

